body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #fff;
  text-align: center;
}
header {
  background-color: rgb(9, 108, 150);
  padding: 5px 0;
}
h1 {
  margin: 0;
  color: rgb(0, 0, 0);
}
nav {
  margin-top: 10px;
}
.cat button {
  background-color: #238636;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.cat button :hover{
  background-color: azure;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.category img {
   width: 300px;
  height: 180px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.category img:hover {
  transform: scale(1.05);
}
footer {
  background-color: rgb(9, 108, 150);
  padding: 10px 0;
  color: black;
  margin-top: 20px;
}
.category {
  flex-wrap: wrap;
  display: none;
  gap: 15px;
}
 


  @media (max-width: 768px) {
  button {
    width: 100%;
    margin: 8px 0;
  }

  .category img {
    width: 45%; 
  }
}


@media (max-width: 480px) {
  .category img {
    width: 90%; 
  }
}
.wallpaper {
   position: relative;
  display: inline-block;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;

}
.wallpaper img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}
.wallpaper:hover .img{
  transform: scale(1.05);
}
.download-btn {
   position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(46, 204, 113, 0.9);
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s; 
}
.wallpaper:hover .download-btn{
  opacity: 1;
}
.download-btn:hover {
  background: #27ae60;
}
#upload-section {
  background: #1a1a1a;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
}

#upload-section input {
  margin: 10px;
}

#uploadMessage {
  color: #00ff66;
  margin-top: 10px;
}



